.login-container {
    width: 100%;
    height: 100vh;
    background-color: #ee4700;
    position: relative;
    .logo {
        font-size: 100px;
        font-weight: bold;
        font-family: 'Creepster', cursive;
        letter-spacing: 8px;
        position: absolute;
        top: 40px;
        left: 100px;
    }
    .desc {
        font-size: 20px;
        font-family: 'Aladin', cursive;
        letter-spacing: 1px;
        position: absolute;
        top: 200px;
        right: 1px;
        text-align: right;
        width: 600px;
    }
    .film {
        position:absolute ;
        height: 300px;
        top: 180px;
        width: 550px; 
    }
    
    .login-form {
        position: relative;
        width: 300px;
        height: 250px;
        padding: 40px;
        background-color: white;
        border-radius: 200px;
        left: 1050px;
        top: 380px;
    }
    .form-group {
        label {
            font-weight: bold;
        }
    }
    .btn-container {
        .btn {
        background-color: black;
        }
        .error {
            position: absolute;
            top: 32px;
            right: 15px;
            color:#ee1000
            updated
        }
    }
}