.home-container {
    display: flex;

    .all-movies {
        width: 75%;
        min-height: calc(100vh - 80px);
        border-right: 1px solid #ee4700;
        padding: 20px 40px;
        font-family: "Roboto", sans-serif;
        

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            

            h4 {
                text-transform: uppercase;
                font-weight: bold;
                border-left: 5px solid #ee4700;
                padding-left: 10px;
            }

            .view-all {
                margin-top: 15px;
                text-align: center;
                padding: 8px 12px;
                background-color: #ee4700;
                color: #fff;
                font-weight: bold;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #ff6a00;
                }
            }
        }

        .movies-thumbnail {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 20px;

            .movie {
                width: 150px;
                text-align: center;
                
            }

            .cover img {
                width: 150px;
                height: 200px;
                object-fit: cover;
                border-radius: 5px;
            }

            .detail {
                margin-top: 5px;

                .name {
                    font-weight: bold;
                    color: #0e0e0e;

                    .rating {
                        font-size: 14px;
                    }

                    .cover img {
                        width: 150px;
                        height: auto;
                        border-radius: 8px;
                    }
                }
            }
        }



    }
    

    .popular-movies {
        width: 25%;
        min-height: calc ;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        padding: 20px;


.top {
    display: flex;
    justify-content: space-between;
    align-items: center;


    h4 {
        text-transform: uppercase;
        font-weight: bold;
        border-left: 10px;
    }

    .view-all {
        color: #0093ee;
        cursor: pointer;
    }
}

.movies-thumbnail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    .cover {
        width: 80px;
        height: 120px;
        overflow: hidden;
        border-radius: 8px;
        

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .detail {
        .name {
            font-weight: bold;
            
        }
        .rating {
            display: flex;
            align-items: center;
            gap: 5px;
            .rating-value {
                font-weight: bold;
                color: red;
                
            }
        }
    }

}

}
}

.right-section {
        width: 25%;
        padding: 20px;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                font-weight: bold;
                text-transform: uppercase;
                border-left: 5px solid #ee4700;
                padding-left: 10px;
            }
        }

        .movies-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;

            .movie {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .name {
                    font-weight: bold;
                    color: #0e0e0e;
                }

                .rating {
                    color: red;
                    font-weight: bold;
                }
            }

            .view-all {
                margin-top: 15px;
                text-align: center;
                padding: 8px 12px;
                background-color: #ee4700;
                color: #fff;
                font-weight: bold;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #ff6a00;
                }
            }
        }
    }

.rating {
padding-right: 45px;
position: relative;
.rating-value {
    position: absolute;
    top: 10px;
    right: 0px;
    font-weight: lighter;
    
}
}
 